.category {
  display: flex;
  background-color: $color-grey-light;
  height: 100%;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  &__heading {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 5rem;
  }
  &__cnt {
    &__close {
      position: absolute;
      right: 0;
      top: 50%;
    }
    &__listing {
      display: flex;
      border: 1px solid $color-grey-light-3;
      background-color: $color-grey-light-2;
      border-radius: 4px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;

      justify-content: center;
      width: 70vw;

      @include breakpoint(lg) {
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        width: 52vw;
      }

      &--img {
        height: 25rem;
        margin: 0.25rem 0 0.25rem 0;
        padding-bottom: 0;
        display: block;

        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.02);
        }
        @include breakpoint(lg) {
          border-right: 1px solid $color-grey-dark-2;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          margin: 0.25rem 0 0.25rem 0.25rem;
        }
      }
      &--details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 2rem;
        width: 70vw;
        @include breakpoint(lg) {
          display: flex;
          border-bottom: none;
        }

        &--h3 {
          margin-bottom: 1rem;
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 0.5rem;
        }
        &--desc {
          font-size: 1.5rem;
          font-weight: 100;
        }
        &--price {
          font-size: 2rem;
          font-weight: 700;
          color: $color-link;
        }
        &--info {
          display: flex;
          align-items: center;
          font-size: 1.5rem;

          &--bed {
            display: flex;
            margin-right: 2rem;
            align-items: center;
            justify-content: space-around;
            &--text {
              padding-left: 0.5rem;
            }
          }
          &--bath {
            display: flex;
            align-items: center;
            justify-content: space-around;
            &--text {
              padding-left: 0.5rem;
            }
          }
          &--ctr {
            display: flex;
            margin-left: auto;
            justify-content: space-between;
            &--trash {
              color: $color-delete;
              margin-right: 1rem;
              cursor: pointer;
              &:hover {
                transform: scale(1.1);
              }
            }
            &--edit {
              color: $color-link;
              cursor: pointer;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
  &__ldmr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    color: $color-link;
    font-size: $default-font-size;
    cursor: pointer;
    &--p {
      padding-bottom: 0.5rem;
    }
    &--icn {
      margin-left: 0.5rem;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
