.signIn {
  position: fixed;
  right: 0;
  width: 100%;
  top: $navbar-height;
  height: 100vh;
  // right: -100%;
  text-align: center;

  padding: $spacing-md 0;
  z-index: 1500;
  background: rgba($color-grey-light-2, 0.9);
  transition: 0.2s ease;
  @include breakpoint(md) {
    width: 40rem;
  }
  &__toggler {
    display: block;
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
    cursor: pointer;
    & > svg {
      display: block;
      font-size: 16px;
    }
  }
  transition: 0.3s ease;

  &--open {
    transition: right 0.2s ease;
    left: 100%;
  }
}

.form {
  z-index: 1500;
  margin-top: $navbar-height;
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__group {
    width: 85%;
    margin: 0 auto;
    &--input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 3px;
      background-color: rgba($color-white, 0.5);
      border: 1px solid $color-grey-dark-2;
      margin: 0 auto;
      width: 100%;
      display: block;
      transition: all 0.3s;
      @include breakpoint(md) {
        width: 95%;
      }
    }
    &--label {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 0.7rem;
      display: block;
      text-align: left;
      transition: all 0.3s;
      @include breakpoint(md) {
        margin-left: 1rem;
      }
    }
    &--btn {
      width: 100%;
      @include breakpoint(md) {
        width: 85%;
        margin: 0 auto;
      }
    }
  }
}
