button {
  font-family: inherit;
  outline: none;
  border: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
  background: transparent;
}
.btn {
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  color: $color-white;
  border: 2px solid $color-white;
  padding: $spacing-sm $spacing-lg;
  border-radius: $spacing-sm / 2;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 0 0.5em $color-white;

  &--hero {
    font-weight: bold;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52vw;
    &:not(:last-child) {
      margin-right: 2rem;
      margin-bottom: 1rem;
    }
    padding: $spacing-sm $spacing-xl;
    border-radius: 3px;
    border: 1px solid $color-white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: $color-white;
    background: transparent;
    box-shadow: 0 2px 0.75em $color-white;
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  @include breakpoint(md) {
    display: inline-block;
    width: 20rem;
  }
  &:active {
    transform: scale(0.98);
  }
  &:hover {
    box-shadow: 0 0 0.85em 0 $color-white;
  }
}

.form__btn {
  font-size: 2rem;
  color: $color-grey-dark-1;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: $color-white;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: block;
  width: 85%;
  border: 2px solid $color-grey-light-2;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 0 0.5em $color-white;
  @include breakpoint(md) {
    width: 95%;
  }

  &:active {
    transform: scale(0.98);
  }
  &:hover {
    box-shadow: 0 0 0.75em 0 $color-grey-light-2;
    @include breakpoint(md) {
      box-shadow: 0 0 0.5em 0 $color-grey-light-2;
    }
  }
}

.bouncingBtn {
  text-transform: uppercase;
  font-size: $default-font-size;
  animation: bounce 2s infinite;
}
