// COLORS

$color-link: #33949d;

$color-success: #66d381;
$color-error: #db0b0b;
$color-delete: #bd2121;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333; //text
$color-grey-light: #f7f7f7; //bg
$color-grey-light-3: #e0dfdf; //br
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// SPACE
$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;
$spacing-xl: 6.4rem;
$spacing-ltt: 0.5rem;

$navbar-height: 7.2rem;

// BREAKPOINT
$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

// FONTS
$default-font-size: 1.5rem;
$default-font-size-lg: 2rem;

// GRID
$grid-width: 114rem;
